{% extends 'base.html' %}

{% block content %}
        <div class="container-fluid mt-5">
<h2>Ajouter un Rapport</h2>

<form method="post" enctype="multipart/form-data" class="p-4 shadow bg-white rounded">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Sélectionner le mois :</label>
            <div style="max-width: 200px;">
        {{ form.mois }}
    </div><br>
    <div class="mb-3">
        <label class="form-label">Fichier :</label>
        {{ form.fichier }}
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>


<a href="{% url 'liste_rapports' %}" class="btn btn-secondary">Retour</a>
        </div>
{% endblock %}
